<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Slim Twig Quick Start</title>
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    {% block main %}
    {% endblock %}
    <script src="assets/js/main.js"></script>
</body>

</html>